@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
     box-shadow: 0 0 0 3px red inset;
     margin: 0;
     padding: 0;
} */

/* modal */
.modal {
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal__overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .modal__body {
     background: #fff;
     color: #333;
     padding: 50px;
     position: fixed;
  }

.header--guest, .header-auth {
     z-index: 1 !important;
     position: fixed;
     top: 0;
     right: 0;
     left: 0;
}

/* .nav-guest, .nav-auth {
     width: 100%;
     min-width: 350px;
} */

.container-guest {
     width: 70%;
     min-width: 320px;
     max-width: 500px;
}

.container-guest--margin { margin: 5rem auto; }
.container-guest--max-width {max-width: 900px;}

.container-auth, .container-guest-offer {
     width: 90%;
     max-width: 1350px;
     min-width: 320px;
     margin: 6rem auto;
     justify-content: center;
}
.btn {
     background-color:rgb(28, 97, 201);
     color: white;
     padding: 6px;
     padding: 10px;
}

.container-auth--margin { margin: 0 auto; }
.container-auth-candidat--margin, .container-auth-recruteur--margin { margin: 7rem auto; }

.cartes {
     width: 100%;
     margin: 6rem auto 2rem auto;
     /* padding: 10px; */
     /* min-width: 320px; */
     text-align: center;
}
.cad1{
     border-radius: 18px;
     height: 10rem;
     color: rgb(240, 20, 240);
      padding:2rem;
      font-size: 20px;
      margin:10px;
}
.cad2{
     border-radius: 18px;
     height: 10rem;
     color: rgb(19, 140, 227);
     padding:2rem;
     font-size: 20px;
     margin:10px;
}
.cad3{
     border-radius: 18px;
     height: 10rem;
     color: rgb(8, 139, 69);
      padding:2rem;
      font-size: 20px;
      margin:10px;
}
.cad4{
     border-radius: 18px;
     height: 10rem;
     color:rgb(228, 112, 40);
      padding:2rem;
      font-size: 20px;
      margin:10px;
}
.offre{
     font-size:35px;
     margin-left: 40px;
}
.nbr{
     color: gray;
     font-size:18px;
}


.invalid { border: 1px solid red;}

.conversation-container, .show-conversation-container {
     width: 100%;
     /* max-width: 500px;
     min-width: 320px;
     margin: auto; */
}

.show-conversation-container {
     width: 100%;
     max-width: 500px;
     min-width: 320px;
     margin: auto;
}

.conversation-container--margin { margin-bottom: 10rem; }


.search-user {
     width: 100%;
     max-width: 400px;
     min-width: 320px;
     margin: 0 auto;
}


.conversation-body, .show-conversation-body {
     width: 100%;
     max-width: 500px;
     min-width: 320px;
     margin: auto;
     height: 450px;
}

.conversation-body::-webkit-scrollbar, .show-conversation-body::-webkit-scrollbar {
     width: 12px; /* width of the entire scrollbar */
}
   
.show-conversation-body::-webkit-scrollbar-track {
     background-color: rgb(226 232 240); /* color of the tracking area */
}

.conversation-body::-webkit-scrollbar-thumb, .show-conversation-body::-webkit-scrollbar-thumb {
     background-color: rgb(30 58 138); /* color of the scroll thumb */
     border-radius: 20px; /* roundness of the scroll thumb */
     border: 3px solid rgb(226 232 240); /* creates padding around scroll thumb */
}




@media screen and (max-width: 902px) {
     .container-auth {
          margin: 9rem auto;
     }

     .container-auth--margin {
          margin: 0 auto;
     }

     .cartes {
          margin: 9rem auto 2rem auto;
     }
}

@media screen and (max-width: 767px) {
     .container-auth {
          margin: 5rem auto;
     }

     .container-auth--margin {
          margin: 0 auto;
     }

     .cartes {
          margin: 5rem auto 2rem auto;
     }
}


/* ==== le style de la paination ============ */
p.leading-5{
     display: none !important;
}

 span[aria-current="page"] .relative{
     background-color: #007bff !important;
     color: #fff !important;
 }

 /* ========le style de la partie cv */
.photoCv img{
width: 100%;
height: 200px;
}

.dowloadCv{
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
}

.body-show-cv {
     display: flex;
     justify-content: center;
     align-items: center;
    width: 100vw;
    height: 100vh; 
}